@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Outfit';
    src: url('/assets/fonts/Outfit-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Syncopate';
    src: url('/assets/fonts/syncopate-bold.ttf') format('truetype');
    font-weight: bold; 
    font-style: normal; 
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('/assets/fonts/Roboto-Regular.ttf') format('truetype');
}

.Logo {
    font-size: 35px;
    font-family: "Syncopate", sans-serif;
    font-weight: bold;
}

.Headline1 {
    font-size: 50px;
    font-family: "Outfit", sans-serif;
    font-weight: bold;

}

.Headline2 {
    font-family: "Roboto-Regular", sans-serif;
    font-weight: bold;
    /* letter-spacing: -2px; */
    font-size: 35px;
}

.Headline3 {
    font-family: "Roboto-Regular", sans-serif;
    font-size: 25px;
}

.Headline4 {
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 600;
    font-size: 19px;
}

.Subheading {
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 600;
    font-size: 25px;
}

.Button1 {
    font-family: "Roboto-Regular", sans-serif;
    font-weight: normal;
    font-size: 20px;
}

.Subtitle1 {
    font-family: "Roboto-Regular", sans-serif;
    font-size: 19px;
}

.Subtitle2 {
    font-family: "Roboto-Regular", sans-serif;
    font-weight: lighter;
    font-size: 18px;
}

.body {
    font-family: "Roboto-Regular", sans-serif;
    font-weight: lighter;
    
    font-size: 16px;
}

#code {
    color: #540261;
}