<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/assets/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/swiper@@11/swiper-bundle.min.css" />
    <title>Vanilla+</title>
</head>
<body>
    @await Html.PartialAsync("_Navbar")
    @{
        var MarkdownFile = Model.GetBool("MarkdownFile");

        if (MarkdownFile)
        {
            <div class="bg-[url('./assets/images/Header.png')] bg-cover w-full flex justify-start items-center bg-center bg-no-repeat py-16 min-h-[300px]">
                <div class="bg-[#110316] flex justify-center px-12 md:px-32 py-4 items-center text-white rounded-r-xl Subheading">
                    @Model.GetTitle()
                </div>
            </div>

            <div class="w-full h-full bg-[#110316] flex justify-center items-center p-6 md:p-16">
                <div class="w-full max-w-screen-xl flex justify-center items-center">
                    <div>

                    </div>
                    <div class="prose text-white prose-headings:text-white prose-a:text-white md:prose-lg prose-blockquote:text-white prose-figure:text-white prose-figcaption:text-white prose-strong:text-white">
                        @RenderBody()
                    </div>
                </div>
            </div>
        }
        else
        {
            @RenderBody()
        }
    }
    @await Html.PartialAsync("_DiscordBanner")
    @await Html.PartialAsync("_Footer")
</body>
<script src="https://cdn.jsdelivr.net/npm/swiper@@11/swiper-bundle.min.js"></script>
<script src="assets/js/Swiper.js"></script>
</html>
