<div class="bg-[url('/assets/images/discord.png')] bg-cover w-full flex justify-center items-center bg-cover bg-no-repeat min-h-[425px]">
    <div class="max-w-screen-xl w-full items-center justify-left p-14">
        <div class="flex flex-col gap-4 w-full md:w-1/2">
            <h1 class="Headline1 text-white">Check Out Our</br>Discord Server</h1>
            <p class="text-white Subtitle1 w-4/5">
                Chat with other players, report bugs, get support, and see the latest news about Vanilla+ in our Discord server. Click below to join.
            </p>
            <div class="flex flex-row gap-5">
                <a href="https://discord.gg/vanillaplus" class="Button1 text-white bg-purple flex justify-center items-center px-8 py-2 rounded-lg hover:bg-pink duration-500 transition-all">
                    Click Here
                </a>
            </div>
        </div>
    </div>
</div>
