<div class="w-full flex flex-col justify-center items-center bg-purple">
    <div class="w-full flex flex-col md:flex-row justify-between items-center max-w-screen-xl p-16 gap-16">
        <div class="flex flex-col justify-center gap-4 w-full">
            <h1 class="Logo text-white">VANILLA+</h1>
            <p class="text-white">
                We are a highly vanilla server that is well known for being the go-to server for the most exciting Crystal PvP experience. There is no claiming, killing is encouraged, and raiding is allowed.
                <br>
                <br>
                Build your base, raid, and kill in your journey to attempt to survive against all odds.
            </p>
        </div>
        <div class="flex flex-col md:flex-row gap-10 justify-center w-full">
            <div class="flex flex-col gap-3">
                <h2 class="Subheading text-white capitalize">Information</h2>
                <a href="https://docs.vanillaplus.net/server-info/general-information" class="text-white Subtitle2 opacity-80">About</a>
                <a href="/rules" class="text-white Subtitle2 opacity-80">Rules</a>
                <a href="https://docs.vanillaplus.net/server-info/vote-links" class="text-white Subtitle2 opacity-80">Voting</a>
            </div>
            <div class="flex flex-col gap-3">
                <h2 class="Subheading text-white capitalize">Legal</h2>
                <a href="/FAQ" class="text-white Subtitle2 opacity-80">FAQ</a>
                <a href="/TOS" class="text-white Subtitle2 opacity-80">TOS</a>
                <a href="/PrivacyPolicy" class="text-white Subtitle2 opacity-80">Privacy Policy</a>
            </div>
        </div>
    </div>
    <div class="bg-[#8b22b1] w-full flex justify-center items-center p-2">
        <div class="max-w-screen-xl flex justify-center items-center w-full">
            <h3 class="text-white opacity-50">Copyright &copy; 2024 Vanilla+. All Rights Reserved.</h3>
        </div>
    </div>
</div>